beautifulsoup4
yt-dlp
requests
pyautogui
pyperclip
plyer
winapps
pywhatkit
google-genai
SpeechRecognition
pyttsx3
pyaudio
pandas
openpyxl
python-docx
python-pptx
PyPDF2
pillow
pymupdf
python-dotenv
pyfiglet
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymysql