beautifulsoup4
yt-dlp
requests
pyautogui
pyperclip
plyer
winapps
pywhatkit
langchain>=0.3.27
langchain-core>=0.3.81
langchain-community>=0.3.31
langchain-google-genai>=2.1.7
google-ai-generativelanguage>=0.6.18,<0.7.0
SQLAlchemy
SpeechRecognition
pyttsx3
pyaudio
pandas
openpyxl
python-docx
python-pptx
PyPDF2
pillow
pymupdf
python-dotenv
pyfiglet
python-jose[cryptography]
passlib[bcrypt]
python-multipart
